body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
body.modal-open .container {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
.modal {
  position: absolute;
  background-color: #00d09c;
  color: white;
  padding: 24px;
  z-index: 99;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: none;
}
.success-image {
  height: 240px;
}
.cool-button {
  background-color: white;
  color: #00d09c;
  padding: 6px 12px;
  border-radius: 6px;
  margin-top: 12px;
  cursor: pointer;
}
.modal-visible {
  display: flex;
}
.container {
  background: #ffffff;
  box-shadow: -20px 20px 60px #d9d9d9, 20px -20px 60px #ffffff;
  border-radius: 12px;
  width: 100%;
  max-width: 520px;
}

.heading {
  background-color: #00d09c;
  padding: 16px 0px;
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  font-size: 32px;
  /* color: #001f3f; */
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  padding: 16px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-section {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 8px;
  align-items: center;
}
.form-item {
  display: flex;
  flex-direction: column;
  width: 80%;
  position: relative;
}
.form-item input {
  padding: 8px 16px;
  font-size: 14px;
  border: 2px solid #d9d9d9;
  border-radius: 6px;
  outline: none;
}
.form-item input:focus {
  border: 2px solid #00d09c;
}
.input-label {
  font-size: 18px;
  color: #001f3f;
}
.icon {
  position: absolute;
  right: 8px;
  top: 40%;
  visibility: hidden;
}
.error-msg {
  visibility: hidden;
}

.form-check-item {
  width: 80%;
  margin-bottom: 12px;
}

.check-options {
  display: flex;
  flex: 1;
  margin-left: 8px;
  align-items: center;
}
.check-options-more {
  display: flex;
  flex: 1;
  margin-left: 8px;
}
.check-option {
  cursor: pointer;
  border: 1px solid #d9d9d9;
  padding: 4px 8px;
  border-radius: 6px;
  color: gray;
  margin-right: 12px;
}
.check-option label {
  pointer-events: none;
}
.options-parent {
  display: flex;
}

.other-details {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  margin-bottom: 32px;
}
.form-section.buttons {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-around;
}
.button {
  background-color: #00d09c;
  border: none;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 2px;

  font-weight: 500;
  padding: 12px 32px;
  border-radius: 6px;
}

.form-item.error small {
  visibility: visible;
  color: red;
}
.form-check-item.error small {
  visibility: visible;
  color: red;
}
.tnc-div.error small {
  visibility: visible;
  color: red;
}
.form-item.error .incorrect {
  visibility: visible;
  color: red;
}

.form-item.success .correct {
  visibility: visible;
  color: #00d09c;
}
.accepted {
  color: #00d09c;
}

.not-visible {
  display: none;
}
.set-visible {
  display: flex;
}
.spouse-section {
  transition: all 1.3s ease-in;
}
.color-green {
  border: 1px solid #001f3f;
  color: #001f3f;
}
.tnc-div {
  width: 80%;
  margin-bottom: 12px;
}
.tnc-icon {
  margin-right: 6px;
}
.tnc-icon i {
  display: flex;
  align-items: center;
}
.tnc {
  color: #001f3f;
  text-decoration: underline;
}
.tnc-check {
  display: flex;
  width: 100%;
  display: flex;
  align-items: center;
}
/* Media Queries */
@media only screen and (max-width: 860px) {
  .heading {
    font-size: 26px;
  }

  .button {
    margin-bottom: 12px;
  }
}

@media only screen and (max-width: 520px) {
  .container {
    width: 80%;
  }
  .heading {
    font-size: 20px;
  }

  .check-options-more {
    font-size: 14px;
  }
  .check-options {
    font-size: 14px;
  }
  .input-label {
    font-size: 16px;
  }
  .icon {
    top: 30%;
  }
  .success-image {
    height: 160px;
  }
  .modal {
    padding: 12px;
  }
  .options-parent {
    flex-direction: column;
  }
}

@media only screen and (max-width: 420px) {
  .button {
    font-size: 10px;
    padding: 12px 24px;
  }
}
